

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notifications App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="cont-home">
    <ion-row class="main-row">
      <ion-col sizeXs="12" class="label-col">
        <label class="label-title">Notification Received!</label>
      </ion-col>
      <ion-col sizeXs="12" class="label-col">
        <label class="label-title">{{notification| json}}</label>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
